/* 07/05/2020 author giusmili */

/* reset */
html{
	scroll-behavior: smooth;
	font-size: 62.5%;
}
body{
	font-family: 'Lato',sans-serif; 
	font-size: 1.7rem;
	margin: 0;
}
*{
	box-sizing: border-box;
}
ul, h1, h2, h3,h4, p, figure, dl, dt, dd, ul, ol{
	padding: 0;
	list-style: none;
	margin: 0;
	font-weight: 400;
}
a, details, summary{
	text-decoration: none;
	outline: 0;
}
address{
	font-style: normal;
}
button, input{
	border: 0;
}



/* color theme */
:root{
	--color-Chico: #fff;
	--color-Adams: #BF5353;
	--color-Tanner: #000;
	--color-OReilly: #2E343C;
	--color-Britt: #525C69;
	--color-Lee: #D7D3D2;
	--color-Lick: #F5F5F5;
	--color-warning: rgba(200,0,0,1);
}
header {
	overflow: hidden;
}
header, main{
	max-width: 120.0rem;
	margin:0 auto;
}
header .logo img{
    width: 18.0rem;
    
}

header nav{
	padding: 1.3rem ;
}
main{
	position: relative;
}
nav ul li a{
	color: var(--color-OReilly);
	padding-bottom: 0.5rem;
}
nav  ul li a:hover, nav  ul .active{
	border-bottom: 0.1rem solid var(--color-Tanner);
	padding-bottom: 0.5rem;

}
header nav ul{
	list-style: none;
	display: block;
	width: 100%;
	margin: 0 auto;
	padding: 1.0rem 0;
	text-align: right;
}
header nav li{

	display: inline;
	text-align: center;
	margin: 0 1.0rem;
}
header .logo{
	display: block;
	position: absolute;
	width: auto;
	padding-top: 1rem;
	text-align: left;
	z-index: 10;
}
section{
	position: relative;
	margin-bottom: 6.0rem;
}
section img{ /* suscéptible à être modifié */
	display: block;
	width: 100%;
	padding: 2.0rem 0 0 13rem;
	opacity: 0.7;
}
section h1 span{
	line-height: normal;
	font-size: 1.6rem;
}
section h1{
	position: absolute;
	top: 40%;
	width: 33rem;
	font-size: 4.0rem;
}

section h1 time{
	font-size: 2rem;
}

/* colonnes texte et artistes*/

section ul li{
	display: inline-block;
	width: calc(100% / 3 - 2.0rem);
	vertical-align: top;
}
section ul li:nth-of-type(2){
	margin:0 2.0rem;
}
section ul li > ul li{
	display: list-item;
	text-transform: uppercase;
	line-height: 3.0rem;
	font-weight: 300;
	width: 38%;
}
section:nth-of-type(2) ul li p,
section:nth-of-type(3) ul li p,
section:nth-of-type(4) ul li p,section:nth-of-type(5) *{
	line-height: 2.5rem;
}
section ul li > ul li:nth-of-type(2){
	margin: 0;
}
section:nth-of-type(3){
	text-align: center;
	margin-top: 6.0rem;

}
section:nth-of-type(3) ul li{
	display: inline-block;
	width: calc(100% / 2);
	margin: 0;
	vertical-align: middle;
	text-align: left;
}
section:nth-of-type(3) ul li:nth-of-type(1){
	width: 10%;
	text-align: right;
	margin-right: 0.5rem;
	

}
section:nth-of-type(3) p{
	color: var(--color-Britt);
	font-size: 1.5rem;

}
section iframe{
	padding-top: 3.0rem;
	display: inline-block;
	height: 100vh;
	

}
section:nth-of-type(4) img{
	display: block;
	width: 100%;
	padding: 0;
	opacity: 1;
}
section:nth-of-type(4) ul li{
	width: calc(100% / 2 - 0.2rem);
	vertical-align: middle;
}
section:nth-of-type(4) ul li:nth-of-type(2){
	margin: 0;

}
section:nth-of-type(4) ul li:nth-of-type(2) p{
	padding: 0 1.0rem;
	color: var(--color-Tanner);
	font-size: 1.7rem;

}
section:nth-of-type(4) ul li:nth-of-type(1) p{
	color: var(--color-Britt);
	font-size: 1.5rem;
}
/* end */
/* big text */
section:nth-of-type(5) p{
	max-width: 60rem;
	padding: 1.0rem;
	margin: 0 auto;
}
section:nth-of-type(7) ul{
	max-width: 60rem;
	margin: 0 auto;
}
section:nth-of-type(7) ul li{
	display: inline-block;
	width: calc(100% / 2);
	margin: 0;
	vertical-align: middle;
	text-align: left;
}
section:nth-of-type(7) ul li:nth-of-type(1){
	width: 18%;
	text-align: right;
	margin-right: 1.5rem;
	

}
/* oeuvres */
/*.pictures ul li figure img{
	object-fit: scale-down;
}*/
.pictures ul li{

	display: inline-block;
	width: calc(100% / 3 - 5.0rem);
	vertical-align: top;
}
.pictures ul li:nth-of-type(2){
	margin:0 5.0rem;
}
/* Anthony css */
.pictures .image-container img{

	max-width: 100%;
	max-height: 100%;
	margin-top: 100%;
	transform: translateY(-100%);

}
.pictures ul li figure .image-container{
	width: calc(min(100vw, 1200px) / 3 - 5.0rem);
	height: calc(min(100vw, 1200px) / 3 - 5.0rem);
	overflow: hidden;

}
/*Anthony css end*/
.pictures ul figure img{
	padding: 0;

}
/* .image-container  img {
	max-width: 100%;
	max-height: 100%;
	margin-left: 50%;
	margin-top: 50%;
	transform: translate(-50%, -50%);
}
 */
.pictures ul figure h3, .pictures ul figure h4{
	font-size: 1.7rem;
	padding: 0.6rem 0;
	color: var(--color-OReilly);
	text-transform: uppercase;
}
.pictures ul figure h4{
	margin: 1.0rem 0;
}
.pictures ul figure p{
	font-size: 1.6rem;
	color: var(--color-Britt);
}
.pictures ul figure figcaption a, .modale ul li a{
	display: inline-block;
	line-height: 4.0rem;
	width: 15rem;
	text-align: center;
	color: var(--color-OReilly);
	border: solid 0.1rem var(--color-Britt);
	text-transform: uppercase;
	font-size: 1.3rem;
}

.pictures ul figure figcaption a::after, .modale ul li a::after{
	content:'\279E';
}
figure:first-child .warning{
	color: var(--color-warning);
}
/* modale */

.modale{
	top: 8%;
	left: 8%;
	width: 120.00rem;
	position: absolute;
	border: solid 0.1rem #ccc;
	display: flex;
	padding: 2.0rem;
	flex-direction: row;
	background-color: var(--color-Chico);
	z-index: -1;
	opacity: 0;
	box-shadow: 0 0 1.0rem #ccc;
	transform: translate(-8%,-8%);
	transition-duration: 0.5s;
}
.modal_open{
	opacity: 1;
	z-index: 10;	
				
}
.modale button{
	display: block;
	position: absolute;
	top: 1.7rem;
	right: 1.7rem;
	width: 3.0rem;
	height: 3.0rem;
	background: transparent;
	border: solid 0.1rem var(--color-Tanner);
	font-size: 1.7rem;
	cursor: pointer;
	text-align: center;

}
.modale .inner-picture{
	width: 70%;
	
	margin-right: 2.0rem;
	
}
.modale .inner-legend{
	width: 30%;
}

.inner-picture img{
	display: block;
	width: 100%;
	padding: 0;
}
/* colonne de droite */
.modale .inner-legend ul li{
	display: block;
	width: 100%;
	margin: 0;

}
.inner-legend ul li:first-child,.inner-legend ul li:nth-of-type(2){
	margin-bottom: 5.0rem;
}
.inner-legend ul li:first-child,.inner-legend ul li:nth-of-type(3) a::after{
	content:'\279E';
}
.inner-legend ul li:first-child p data{

	display: inline-block;
	margin-top: 2.0rem;
}
.inner-legend ul li p em{
	color: var(--color-Britt);
}
.inner-legend ul li:last-child {
	margin-top: 2.0rem;
	transform: translateY(5.6rem);
}
.inner-legend ul li:last-child > .btn-modal{
		
		display: inline-block;
		width: 5.0rem;
		line-height: 5.0rem;
		background: #ccc;
		margin-right: 0;
		border: 0;
		
}
.inner-legend ul li a::after{
	content: '';
}
.inner-legend ul li:last-child > .btn-black{
	background-color: var(--color-Tanner);
	color: var(--color-Chico);
}
.inner-legend ul li:last-child > .btn-white{
	background-color: var(--color-Chico);
	color: var(--color-Tanner);
}

/* end oeuvres */
/* mobile */

  @media screen and (max-width: 80rem) {
  	main{
  		margin:0 0.5rem;
  	}
	header nav{
		display: none;
	}
	header div .logo img{
		width: 45%;
	}
	 .mobil-first img{
		display: none;
	}
	.mobil-first{
		padding: 1.0rem;
		height: 100vh;
		background: url("../asset/drapes_2019.png") no-repeat scroll 5.5rem 5.0rem / cover;
		/* background-origin: content-box; */
	}
	section h1{
		font-size: 7.5vw;
		width: 60%;
		padding-left: 1.0rem;
	}
	section ul li{
	display: block;
	width: auto;
	margin:0 0 1.0rem 0;
	
	}
	section ul li p{
		text-align: left;
	}
	section ul li > ul li{
		margin: 0;
	}

	section ul li:nth-of-type(2){
		margin: 0 0 1.0rem 0;
	}
	section:nth-of-type(3) ul li{
	display: block;
	width: auto;
	margin: 0;
	
	
	}
	section iframe{
	padding-top: 3.0rem;
	display: block;
	height: 50vh;
	

	}
	section:nth-of-type(4) ul li, section:nth-of-type(7) ul li{
		display: block;
		width: auto;
	}
	section:nth-of-type(4) ul li:nth-of-type(2) p, section:nth-of-type(5) p{
		padding: 0;
	}
	.pictures ul li{

	display: block;
	width: auto;
	margin: 0 1.0rem;
	
	}
	.pictures .image-container img{
		width: 100%;
		transform: translateY(0);
		margin: 0;


	}
	.pictures ul li figure .image-container{
	width: auto;
	height:auto;
	overflow: hidden;

	}
	.pictures{
		margin-bottom: 0;
	}
	.pictures ul li{
		margin: 0;
	}
	.pictures ul li:nth-of-type(2){
		margin: 0;
	}
	.pictures ul figure figcaption a{
		margin-bottom: 0.5rem;
	}

	
}
/* tablet */
@media screen and (max-width: 1082px){
	body{
		margin:0 1.0rem;
	}
}
 